.icon_gallery { bottom:80px; }
section {width:1024px; box-sizing:border-box;}
.content {position:relative;}
.story.index-0 .content {position:relative}
article .column {width:48%; float:left;position:relative;}
article .column:last-child {margin-left:4%;}
article .column img, article .column .gallery { height:200px; width:auto;margin:10px 0;overflow:hidden;display:inline-block!important; position:relative;}
article .column .am_df_image img { height:auto; width:auto;padding:0; }

/* Template audit */
.am_info_box .text {-webkit-overflow-scrolling:touch;overflow:auto;box-sizing:border-box;}
/* end Template audit */

/* Template International */
.template_international .am_title, .template_international .am_sub_title {font-size:72px;}
.template_international .scrollbox {height:600px;}
.template_international .content {height:auto;}
.template_international .image_item img{width:auto;height:auto;}
/* end Template International */

/* Template Feature 07 */
.template_features07 .default_image .caption {height:220px;}
/* end Template Feature 07 */

/* Template Opinion */
.template_opinion .mainImg { height: 180px;position:relative;background:#cce9ef; }
.template_opinion .mainImg figure img{ width:auto!important; height:180px;}
/* end Template Opinion */

.template_briefing.index-0 .content {  }

.template_opinion.index-0 .content, .template_audit.index-0 .content, .template_leader.index-0 .content  {}
	
.life03 .am_df_image, .life02 .am_df_image { width:100%!important;overflow:hidden; }
.life03  .default_image img, .life03  .am_df_image img { position:relative; }
.life02 .am_df_image img { top:0; }

.template_life .icon_gallery { left:auto; right:2%; }

.template_features.features07 .default_image .top_left, .template_features.features07 .default_image .top_right, .template_features.features07 .default_image .bottom_left, .template_features.features07 .default_image .bottom_right { max-height:500px; }

.template_audit .default_image .am_df_image { position:relative;bottom:0;height:auto!important;right:0;width:100%!important; }
.template_audit .default_image .icon_gallery { left:auto;right:10px;float:right;bottom:10px; } 

.template_audit.graph .default_image .am_df_image, .template_audit.graph .default_image .am_df_image img{ bottom:0;position:relative;width:100%; }

@media all and (min-height: 0px) and (max-height: 767px) {
	.template_international .scrollbox, .template_international.index-0 .column { height:380px; }
}