@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansUI';
    src: url('../fonts/NotoSansUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NotoSansUI_Bold';
    src: url('../fonts/NotoSansUI-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NotoSansUI_BoldItalic';
    src: url('../fonts/NotoSansUI-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NotoSansUI_Italic';
    src: url('../fonts/NotoSansUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jp_bold_font';
    src: url('../fonts/NotoSansUI-Bold.ttf');
}
@font-face {
    font-family: 'jp_bolditalic_font';
    src: url('../fonts/NotoSansUI-BoldItalic.ttf');
}
@font-face {
    font-family: 'jp_italic_font';
    src: url('../fonts/NotoSansUI-Italic.ttf');
}
@font-face {
    font-family: 'jp_regular_font';
    src: url('../fonts/NotoSansUI.ttf');
}


@font-face {
    font-family: 'story_heading_font';
    src: url('../fonts/City Bold.ttf');
}

@font-face {
    font-family: 'regular_font';
    src: url('../fonts/din-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'italic_font';
    src: url('../fonts/DIN-Italic.ttf');
}
@font-face {
    font-family: 'bold_font';
    src: url('../fonts/DIN-Bold.ttf');
}
@font-face {
    font-family: 'introduction_font';
    src: url('../fonts/DIN-Italic.ttf');
}




.story_heading_size{font-size:30px;}
.body_text_size{font-size:16px;}
.intro_size{font-size:18px;}
