<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body id="story">
    <section class="template_audit page story column portrait am_page">
		<div class="am_title"></div>
		<figure class="default_image">
			<div class="am_df_image" data-orientation="true"></div>
			<span class="icon_gallery"></span>
		</figure>
		<article class="content clearfix">
			<div class="column am_body index-0">
				<div class="am_intro"></div>
			</div>
			<div class="column am_body index-1"></div>
		</article>
		<div class="paging"></div>
	</section>
	<section class="template_audit page story column portrait am_page">
		<article class="content clearfix">
			<div class="column am_body index-0">
				<div class="highlight_block">
					<div class="title">EVENTS TO LOOK OUT FOR</div>
				</div>
			</div>
			<div class="column am_body index-1"></div>
		</article>
		<div class="paging"></div>
	</section>
</body>
</html>