






{% extends "story-portrait.twig" %}

{% block title %}{{ story.title }}{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}



{% block bodyclass %}color_{{ section.color }}{% endblock %}
{% block bodyid %}story{% endblock %}

{% block content %}
<section class="template_leader contributor page index-0 story portrait column am_page" style="position:absolute; left:0;">
		<article class="content clearfix">
			<div class="am_title">{{story.title}}</div>
			<div class="column am_body index-0">{{story.body}}</div>
			<div class="column am_body index-1"></div>
		</article>
		<div class="paging"></div>
	</section>
	<section class="template_leader contributor page index-tween story portrait column am_page" style="position:absolute; left:1024px;">
		<article class="content clearfix">
			<div class="column am_body index-0"></div>
			<div class="column am_body index-1"></div>
		</article>
		<div class="paging"></div>
	</section>
{% endblock %}
