



{% extends "story-portrait.twig" %}

{% block title %}{{ story.title }}{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}



{% block bodyclass %}color_{{ section.color }}{% endblock %}
{% block bodyid %}story{% endblock %}

{% block content %}
<section class="template_life life01 page index-0 story portrait column am_page" style="position:absolute; left:0;">
		<figure class="default_image">
			<div class="am_df_image" data-orientation="true"></div>
			<div class="caption">
				<div class="am_section">{{ section.name }}</div>
				<div class="am_title">{{ section.title }}</div>
			</div>
			<div class="paging"></div>
		</figure>
	</section>
	<section class="template_life life01 page index-tween story portrait column am_page" style="position:absolute; left:1024px;">
		<article class="content clearfix">
			<div class="column am_body index-0">
				{{ story.body }}
			</div>
			<div class="column am_body index-1"></div>
		</article>
		<div class="paging"></div>
	</section>
{% endblock %}
