<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../stylesheets/base.css">
	<link rel="stylesheet" href="../stylesheets/font.css">
	<link rel="stylesheet" href="../stylesheets/content.css">
	<script src="../javascripts/script.js"></script>
</head>
<body id="t1" class="landscape">
	<div class="header">
		<div class="wrapper">
			<div class="caption">GQ Magazine UK <span>FASHION / GROOMING</span></div>
			<a href="#" class="icon-camera"></a>
		</div>
	</div>
	<div class="container">
		<div class="head-info">
			<div class="inner">
				<h2 class="title">Want to impress this Valentine's? Start by smelling like Chris Evans.</h2>
				<p class="subtitle">This is an long subtitle for this story</p>
				<p class="author">| By NICK CARVELL</p>
			</div>
		</div>
		<div class="content-area" id="pagination">
			<div class="content-body">
				<p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, magnam inventore dolorem accusamus rerum tenetur esse laboriosam impedit voluptatum</b></p>
				<p>Ex quam minus eaque, at laudantium ullam deleniti dolor! Eaque dolore, molestiae exercitationem corporis assumenda ea sit saepe, quisquam tempora in harum, animi id! Delectus vel a eius repellendus ipsum!</p>
				<p>Molestias ipsam officia, porro reiciendis accusantium ratione consequuntur esse eos repellendus animi quas delectus doloribus accusamus ullam voluptate molestiae libero facere veniam. Esse excepturi adipisci quo perferendis, quia odit quaerat.</p>
				<p>Blanditiis aspernatur voluptatum necessitatibus tenetur ducimus. Quo ipsum aperiam impedit ipsa voluptates totam, obcaecati unde officiis officia ratione vero sequi reiciendis dolorem fugiat, doloribus vel fugit assumenda pariatur accusantium. Atque.</p>
				<p>Perferendis cupiditate doloremque optio quo aliquam quaerat, explicabo culpa aperiam eum voluptas consequatur magni earum necessitatibus dignissimos omnis maiores aliquid provident, beatae veritatis quia, ipsa et! Dolore itaque voluptas suscipit.</p>
				<p>Quidem id, ad accusantium porro voluptatem nemo? Laborum iste amet, voluptatibus facere, excepturi voluptatum! Quasi explicabo fugiat tenetur, voluptatem nostrum doloribus? Porro quibusdam voluptatibus accusantium commodi delectus aperiam quia sed.</p>
				<p>Similique expedita optio nulla minima, alias et nesciunt corrupti est ipsum eum ea consectetur voluptatem debitis repellendus, distinctio tempore cumque. Incidunt debitis aliquam dolor dolorum voluptatum ut odit placeat quam!</p>
				<p>Nam adipisci fugit commodi hic quaerat sunt tenetur voluptas, iure magnam suscipit, blanditiis vitae debitis autem minima accusamus veritatis impedit dolorum quae tempore molestias deserunt, harum nobis doloribus! Aspernatur, non.</p>
				<p>Consectetur nesciunt officiis, dignissimos obcaecati provident ratione commodi fugiat dolore libero doloremque perferendis voluptatibus pariatur a recusandae beatae, molestiae voluptatum reiciendis amet sequi iure iusto modi saepe illum? Repudiandae, fuga?</p>
				<p>Nobis tempore, fugiat soluta possimus minus perspiciatis, et saepe repudiandae. Adipisci impedit vitae, iure nihil sequi magni, harum corporis possimus, tempora minima laudantium repudiandae, officia necessitatibus. Blanditiis iste voluptatem, in.</p>
				<p>Voluptates eum sit qui consequuntur corporis, fugiat fugit ipsum in aperiam iure quasi consequatur, odio voluptas exercitationem aliquam distinctio itaque sequi nam laudantium eligendi nesciunt ducimus quam nisi tenetur! Nostrum!</p>
				<p>Illo maxime voluptates ex? Tempore praesentium illum unde. Iure quibusdam corporis quo consequatur tempora. Ab quo est eius quidem ullam incidunt, deleniti harum ipsam nisi soluta voluptatum quibusdam similique sit.</p>
				<p>Laudantium atque libero error saepe ducimus tempore, eaque optio beatae dignissimos fugit quos minima, distinctio cum voluptas quasi numquam iste sint consequatur, placeat, possimus aut? Earum incidunt, fugit voluptatem quibusdam.</p>
				<p>Distinctio reiciendis obcaecati, dolore culpa quod. Quo numquam velit voluptas asperiores corporis, fugiat facere expedita laborum culpa, placeat, porro eaque! Voluptas perferendis, maxime odio possimus. Quia, cumque architecto consequatur voluptates.</p>
				<p>At id aperiam quo labore enim sint, iste eligendi illo consequatur nostrum delectus iure unde minus nam, ab? Voluptas, iusto dignissimos sunt at molestiae hic vero facere id quia. Aliquam?</p>
				<p>Tempore, voluptas. Quibusdam ipsum, quas. Odio nobis, voluptate quibusdam facilis magnam excepturi eveniet hic corporis possimus quisquam in ipsa animi iusto, veritatis quis, dolor maiores necessitatibus dignissimos sunt, asperiores tempore.</p>
				<p>Perferendis nisi similique unde quo iusto. Laudantium est deleniti optio minus vero, animi nisi. Assumenda labore id est, fugiat quis placeat sit magni magnam quidem inventore nisi earum delectus nobis.</p>
				<p>Beatae molestias possimus distinctio eaque nostrum vitae laborum dolores, velit placeat, fugit cum molestiae, eum ea ad. Eius in, ab amet doloribus earum ipsa? Reiciendis nemo aliquam soluta quos ea.</p>
				<p>Eligendi numquam mollitia minima enim non ratione iste dicta placeat, consectetur dolorem, nulla, labore veniam provident ad at officiis. Laudantium veritatis ex optio voluptatibus voluptates excepturi officia expedita. Possimus, ipsam?</p>
				<p>Accusantium consequuntur unde, aliquam nisi libero, assumenda dolorem atque adipisci veniam, iusto alias repellendus eum delectus, rem sunt temporibus voluptates repellat. Dicta incidunt, eaque ducimus quasi, nobis tempora aperiam a.</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrapper clearfix">
			<div class="page_info">
				Page <span id="c-page">1</span> of <span id="t-page">3</span>
			</div>
			<div class="pagination clearfix">
				<a href="#" class="go-prev" data-rel="amreader:go-prev">Prev</a>
				<a href="#" class="go-next" data-rel="amreader:go-next">Next</a>
			</div>
		</div>
	</div>
</body>
</html>