body {
	height: 100vh !important;
	margin: 0 !important;
}

html {
	height: 100vh !important;
}
.app{
  color: red;
}
.no-pointer-events {
	pointer-events: none;
}

body, html {
	margin: 0;
	height: 100%;
}

@font-face {
	font-family: 'ProximaNova-Thin';
  src: url("./assets/fonts/ProximaNova/proximanova-thin-webfont.eot");
  src: url("./assets/fonts/ProximaNova/proximanova-thin-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova/proximanova-thin-webfont.woff") format("woff"), url("./assets/fonts/ProximaNova/proximanova-thin-webfont.ttf") format("truetype"), url("./assets/fonts/ProximaNova/proximanova-thin-webfont.svg#ProximaNova-Regular") format("svg");
  font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Regular';
  src: url("./assets/fonts/ProximaNova/proximanova-reg-webfont.eot");
  src: url("./assets/fonts/ProximaNova/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova/proximanova-reg-webfont.woff") format("woff"), url("./assets/fonts/ProximaNova/proximanova-reg-webfont.ttf") format("truetype"), url("./assets/fonts/ProximaNova/proximanova-reg-webfont.svg#proximanova-Regular") format("svg");
  font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Semi-Bold';
  src: url("./assets/fonts/ProximaNova/proximanova-sbold-webfont.eot");
  src: url("./assets/fonts/ProximaNova/proximanova-sbold-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova/proximanova-sbold-webfont.woff") format("woff"), url("./assets/fonts/ProximaNova/proximanova-sbold-webfont.ttf") format("truetype"), url("./assets/fonts/ProximaNova/proximanova-sbold-webfont.svg#proximanova-sboldular") format("svg");
  font-style: normal;
}

@font-face {
	font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/md-icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(./assets/fonts/md-icons/MaterialIcons-Regular.woff2) format("woff2"), url(./assets/fonts/md-icons/MaterialIcons-Regular.woff) format("woff"), url(./assets/fonts/md-icons/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  /* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  /* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
	font-feature-settings: 'liga';
}

/*MATERIAL ICON SIZES*/
.material-icons.md-14 {
	font-size: 14px;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}