@font-face {
    font-family: 'bold_font';
    src: url('../fonts/helveticaneue_medium-webfont.eot');
    src: url('../fonts/helveticaneue_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue_medium-webfont.woff') format('woff'),
         url('../fonts/helveticaneue_medium-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue_medium-webfont.svg#helveticaneuemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'regular_font';
	src: url('../fonts/helveticaneue.eot');
	src: url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/helveticaneue.woff') format('woff'),
			 url('../fonts/helveticaneue.ttf') format('truetype'),
			 url('../fonts/helveticaneue.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'story_heading_font';
    src: url('../fonts/austin-bold.eot');
    src: url('../fonts/austin-bold.eot') format('embedded-opentype'),
         url('../fonts/austin-bold.woff') format('woff'),
         url('../fonts/austin-bold.ttf') format('truetype'),
         url('../fonts/austin-bold.svg#AustinBold') format('svg');
}

@font-face {
    font-family: 'introduction_font';
    src: url('../fonts/austin-bold.eot');
    src: url('../fonts/austin-bold.eot') format('embedded-opentype'),
         url('../fonts/austin-bold.woff') format('woff'),
         url('../fonts/austin-bold.ttf') format('truetype'),
         url('../fonts/austin-bold.svg#AustinBold') format('svg');
}

@font-face {
    font-family: 'italic_font';
    src: url('../fonts/austin-mediumitalic.eot');
    src: url('../fonts/austin-mediumitalic.eot') format('embedded-opentype'),
         url('../fonts/austin-mediumitalic.woff') format('woff'),
         url('../fonts/austin-mediumitalic.ttf') format('truetype'),
         url('../fonts/austin-mediumitalic.svg#AustinMediumItalic') format('svg');
}

.story_heading_size {font-size:24px;}
.body_text_size {font-size:16px;}
.intro_size {font-size:24px;}
@font-face {
											    font-family: 'story_heading_font';
											    src: url('../fonts/1465441140_1444327954_ProximaNova-Semibold.otf');
                                            }
@font-face {
											    font-family: 'regular_font';
											    src: url('../fonts/1465441140_1438568366_Futura-Condensed.otf');
                                            }
@font-face {
											    font-family: 'italic_font';
											    src: url('../fonts/1465441140_1438568366_Futura-CondensedOblique.otf');
                                            }
@font-face {
											    font-family: 'bold_font';
											    src: url('../fonts/1465441140_1438568366_Futura-Condensed.otf');
                                            }
@font-face {
											    font-family: 'introduction_font';
											    src: url('../fonts/1465441140_1444327954_ProximaNova-Light.otf');
                                            }
.story_heading_size{font-size:px;}
.body_text_size{font-size:px;}
.intro_size{font-size:px;}
