.banner {
  height: 100px;
  box-sizing: border-box;
  padding: 0 20px 0px 20px;
  font-family: 'ProximaNova'; }
  .banner .logo {
    font-weight: bold;
    display: inline-block;
    color: white;
    box-sizing: border-box;
    height: 46px;
    font-size: 15px;
    line-height: 10px;
    text-transform: uppercase;
    padding: 24px 10px 12px 10px;
    background-color: #e39717;
    vertical-align: top; }
  .banner .subtitle {
    text-transform: uppercase;
    letter-spacing: -0.03em;
    font-weight: bold;
    margin-left: 35px;
    box-sizing: border-box;
    font-size: 57px;
    color: #555555;
    line-height: 50px;
    margin-bottom: 12px; }

.header .caption span {
  margin-left: 8px; }

.head-info {
  position: absolute;
  bottom: 0;
  padding: 40px 20px 70px 20px;
  background-color: white; }

.cover .default-image {
  background-size: contain !important;
  background-position: 0 0 !important;
  height: calc(100% - 100px) !important; }

.content-body > p {
  font-weight: 300;
  font-size: 1em; }

.content-body > p.dropcap:first-letter
, .content-body > p.dropcap .dropcap-letter {
  color: #e39717;
  font-weight: 100; }

.content-body {
  font-family: 'ProximaNova'; }
  .content-body h3 {
    font-size: 1.33em;
    font-weight: bold;
    line-height: 1.1; }
  .content-body > p.done-dot:after {
    border-left: 5px solid #e39717 !important;
    border-right: 5px solid #e39717 !important; }
  .content-body figcaption {
    text-align: left;
    font-weight: bold;
    font-size: 0.867em;
    color: #666666;
    line-height: 138.46%; }
  .content-body > p.pullQuote {
    border-left: 2px solid #e1e1e1; }

.landscape .cover .default-image {
  background-size: cover !important; }
.landscape .banner .subtitle {
  width: 450px; }
.landscape .head-info {
  position: absolute;
  bottom: 70px;
  padding: 0 20px;
  height: auto; }

.mobile .header {
  display: none; }
.mobile .cover {
  width: 100% !important; }
  .mobile .cover .banner {
    padding: 0 15px;
    margin-bottom: 15px;
    height: auto; }
    .mobile .cover .banner .logo {
      font-size: 12px;
      padding: 28px 5px 5px 5px;
      line-height: 12px;
      height: 45px; }
    .mobile .cover .banner .subtitle {
      margin: 8px 0 0 0;
      font-size: 15px;
      line-height: 166.67%; }
    .mobile .cover .banner .title {
      margin: 0;
      font-size: 37.5px;
      line-height: 70.38%; }
.mobile .default-image {
  background-image: none !important;
  height: auto !important; }
.mobile .head-info {
  padding: 15px; }
  .mobile .head-info .title {
    font-size: 1.93em;
    line-height: 100%;
    margin: 0; }
  .mobile .head-info .intro {
    font-size: 0.86em;
    letter-spacing: normal;
    margin: 2px 0 0 0; }
  .mobile .head-info .author {
    margin: 8px 0 0 0;
    font-size: 0.643em;
    line-height: 166.67%;
    min-height: 15px;
    letter-spacing: 0;
    box-sizing: border-box; }
.mobile .content-body > p.done-dot:after {
  border-left: 3px solid #e39717 !important;
  border-right: 3px solid #e39717 !important; }
.mobile .content-body > p.pullQuote {
  font-style: italic; }
  .mobile .content-body > p.pullQuote b {
    font-weight: normal; }

.mode-1 .portrait .head-info, .mode-1 .landscape .head-info {
  background-color: transparent !important; }

.ios-9.completed .content-area .content-body .dropcap {
  display: inline-block; }

/*# sourceMappingURL=create_02.css.map */
