.header{
	padding: 0;
	font-family: 'ProximaNova';
	.logo{
	    display: inline-block;
	    color: white !important;
	    box-sizing: border-box;
	    font-size: 1em;
	    font-weight: 600;
	    line-height: 100%;
	    text-transform: uppercase;
	    padding: 20px 10px 12px 10px;
	    background-color: black;
	}
	.section {
		display: inline-block;
		margin-left: -4px;
	    font-size: 1em;
	    font-weight: 600;
	    line-height: 100%;
		background-color: #e39717;
	    padding: 20px 10px 12px 10px;
	}
	.wrapper {
		border-bottom: none;
		height: 47px;
	}
}
.banner{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 20px;
    width: 340px;
    font-family: 'ProximaNova';
	.logo{
	    font-weight: bold;
	    display: inline-block;
	    color: white;
	    box-sizing: border-box;
	    font-size: 15px;
	    line-height: 15px;
	    text-transform: uppercase;
	    padding: 20px 10px 12px 10px;
	    background-color: black;
	}
	.subtitle {
	    display: block;
	    margin-top: 55px;
	    font-size: 20px;
	    font-weight: 300;
	    color:#696969;
	    text-transform: uppercase;
	    width: 300px;
	    box-sizing: border-box;
	    letter-spacing: -0.03em;
	}
}
.cover {
	padding: 0 20px !important;
	.default-image {
	    width: calc(100% - 350px) !important;
	    float: right;
	    padding-top: 30px;
	    text-align: left;
	    background-position: 0 center !important;
	    background-size: 270px auto !important;
	}
}
.head-info{
    position: absolute;
    bottom: 0;
    left: 20px;
    padding: 40px 0 70px 0;
    width: 360px;
	h2.title {
	    font-size: 60px;
	    line-height: 60px;
	    text-transform: uppercase;
	    font-weight: normal;
	    letter-spacing: -0.03em;
	}
	.author {
		font-family: 'ProximaNova'; 
		font-weight: 600;
		background-color: transparent;
	    color: #e3971d;
	    font-size: 1em;
	    line-height: 133.33%;
    	padding: 4px;
	}
}
.content-body > p {
	font-weight: 300;
	font-size: 1em;
}
.content-body > p.dropcap:first-letter
,.content-body > p.dropcap .dropcap-letter
{
    color: #e39717;
    font-weight: 100;
}
.content-body {
	font-family: 'ProximaNova';
	h3,h4{
		font-weight: 600;
		color:#696969;
		b{
			font-weight: 600;
		}
	}
	> p.done-dot:after {
		border-left: 5px solid #e39717 !important;
		border-right: 5px solid #e39717 !important;
	}
	figcaption {
		text-align: left;
		font-weight: bold;
		font-size: 0.867em;
		color: #666666;
		line-height: 138.46%;
	}
	p.pullQuote {
		border-left: none !important;
		padding: 20px 0 20px 28px;
	}
	p.pullQuote:before{
	    content: '';
	    top: 0;
	    left: 0;
	    position: absolute;
	    border: 5px solid #e39717;
	    border-right: none;
	    width: 25px;
	    height: calc(100% - 10px);
	    background-image:none !important;
	}
}
.landscape{
	.banner{
		.subtitle {
		    width: 450px;
		}
	}
	.head-info{
		position: absolute;
	    width: 500px;
	    height: auto;
	    .title {
	    	color: #000;
	    	text-shadow: none;
	    }
	}
	.cover .default-image {
		width: calc(100% - 550px) !important;
	}
}
.mobile {
	.header {
		display: none;
	}
	.cover {
		width: 100% !important;
		padding: 0 15px !important;
		.banner {
		    position: static;
		    width: 280px;
		    .section {
		    	font-size: 12px;
		    }
			.logo {
			    font-size: 12px;
			    line-height: 10px;
			    height: 45px;
			    padding: 30px 5px 5px 5px;
			}
			.subtitle {
			    padding: 0;
			    font-size: 12px;
			    line-height: 117%;
			    margin: 10px 0 0 0;
			}
		}
	}
	.default-image {
		background-image: none !important;
	    height: auto !important;
	    width: 100% !important;
	    float: none;
	    margin: 15px 0;
	}
	.head-info {
	    width: 230px;
	    position: static;
	    padding: 0;
		.title{
		    font-size: 2.5em;
		    line-height: 100%;
		}
		.strap-line{
		    font-size: 2.5em;
		    line-height: 100%;
		    margin-top: 12px;
		    margin-bottom: 0px;
		}
		.author{
		    font-size: 0.643em;
		    line-height: 111.11%;
		    display: block;
		    margin-top: 5px;
		    padding: 0;
		    letter-spacing: 0;
		    box-sizing: border-box;
		}
	}
	.content-body {
		> p.done-dot:after {
			border-left: 3px solid #e39717 !important;
			border-right: 3px solid #e39717 !important;
		}
		p.pullQuote {
			padding: 6px 0 4px 12px;
			position: relative;
		}
		p.pullQuote:before {
			width: 12px;
		    border: 2px solid #e39717;
		    border-right: none;
		    height: calc(100% - 4px);
		}
	}
}
.mode-1 {
	.head-info .title,
	.banner .subtitle {
		color: #fff;
	}
}
.ios-9{
	&.completed{
		.content-area{
			.content-body{
				.dropcap{
					display: inline-block;
				}
			}
		}
	}
}