.article-lead .banner{
	height: 100px;
	box-sizing: border-box;
	padding: 20px;
	font-family: 'ProximaNova';
	.logo{
	    font-weight: 100;
	    color: #366a9b;
	    font-size: 70px;
	    padding: 3px 30px 0 0;
	    margin-right: 30px;
	    border-right: 1px solid #dadada;
	    line-height: 60px;
	    letter-spacing: -0.045em;
	    display: inline-block;
	    vertical-align: middle;
	}
	.subtitle {
	    font-size: 17px;
	    font-weight: 100;
	    text-transform: uppercase;
	    display: inline-block;
	    width: 290px;
	    line-height: 105.88%;
	    letter-spacing: -0.03em;
	    margin-left: -4px;
	    vertical-align: middle;
	    box-sizing: border-box;
	}
}

.mobile .article-lead{
	.cover{
		.banner {
		    min-height: 90px;
		    height: auto;
		    padding: 30px 15px 10px 15px;
		    text-align: center;
		    .section {
		    	font-size: 12px;
				margin-bottom: 6px;
				color: #9c9c9c;
		    }
			.logo {
				font-size: 40px;
			    line-height: 30px;
			    border: 0;
			    width: 100%;
			    padding: 0;
			    margin: 0;
			}
			.subtitle {
				padding: 0;
			    width: 230px;
			    font-size: 0.71em;
			}
		}
	}
}
.playlist__article-lead,
.create__article-lead{
	.banner .logo{
		color: #e39717;
	}
	.head-info .author{
		background-color: #e39717;
	}
	.content-area .content-body {
		> p.done-dot:after{
			border-left: 5px solid  #e39717 !important;
			border-right: 5px solid  #e39717 !important;
		}
		p.pullQuote,
		> p.dropcap:first-letter,
		> p.dropcap .dropcap-letter{
			color: #e39717;
		}
	}
	.footer .nav-dots .dot.active{
		background-color: #e39717;
	}
}
.macuser__article-lead{
	.banner .logo{
		color: #366a9b;
	}
	.head-info .author{
		background-color: #366a9b;
	}
	.content-area .content-body {
		> p.done-dot:after{
			border-left: 5px solid  #366a9b !important;
			border-right: 5px solid  #366a9b !important;
		}
		p.pullQuote,
		> p.dropcap:first-letter,
		> p.dropcap .dropcap-letter{
			color: #366a9b;
		}
	}
	.footer .nav-dots .dot.active{
		background-color: #366a9b;
	}
}