.banner {
  min-height: 100px;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'ProximaNova'; }
  .banner .logo {
    font-weight: 100;
    color: #8dc63f;
    font-size: 60px;
    padding: 3px 30px 0 0;
    margin-right: 30px;
    border-right: 1px solid #dadada;
    line-height: 60px;
    letter-spacing: -0.045em;
    display: inline-block;
    vertical-align: middle; }
  .banner .subtitle {
    color: #333333;
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 290px;
    line-height: 105.88%;
    letter-spacing: -0.03em;
    margin-left: -4px;
    vertical-align: middle;
    box-sizing: border-box; }

.head-info {
  position: absolute;
  bottom: 0;
  padding: 40px 20px 70px 20px;
  background-color: white; }
  .head-info .author {
    background-color: #8dc63f;
    margin-bottom: 30px; }

.gradient {
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background: linear-gradient(to top, rgba(220, 221, 222, 0), #dcddde);
  height: 80px; }

.cover .default-image {
  height: calc(100% - 250px) !important;
  background-position: center 0 !important; }

.content-body > p {
  font-weight: 300;
  font-size: 1em; }

.content-body > p.dropcap:first-letter
, .content-body > p.dropcap .dropcap-letter {
  color: #8dc63f;
  font-weight: 100; }

.content-body {
  font-family: 'ProximaNova'; }
  .content-body h3 {
    font-weight: 600;
    letter-spacing: -0.02em; }
    .content-body h3 b {
      font-weight: 600; }
  .content-body > p.done-dot:after {
    border-left: 5px solid  #8dc63f !important;
    border-right: 5px solid  #8dc63f !important; }
  .content-body figcaption {
    text-align: left;
    font-weight: bold;
    font-size: 0.867em;
    color: #666666;
    line-height: 138.46%; }
  .content-body p.pullQuote {
    padding: 20px 25px;
    color: #8dc63f;
    text-transform: uppercase;
    position: relative;
    border: 1px solid #5d5b5b;
    box-sizing: border-box; }
  .content-body p.pullQuote:before {
    content: '';
    position: absolute;
    top: 20px;
    left: -1px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: calc(100% - 40px);
    width: 100%;
    border-radius: 0%; }
  .content-body p.pullQuote:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: calc(100% + 2px);
    width: calc(100% - 40px);
    border-radius: 0%;
    box-sizing: border-box; }

.footer .nav-dots .dot.active {
  background-color: #8dc63f; }

.landscape .cover .wrapper {
  position: relative;
  height: calc(100% - 250px); }
.landscape .banner .subtitle {
  width: 460px; }
.landscape .head-info {
  position: absolute;
  height: auto;
  width: 446px;
  right: 20px;
  bottom: 0;
  left: auto;
  padding: 0 0 0 60px;
  box-sizing: border-box; }
  .landscape .head-info .author {
    margin-bottom: 70px; }
.landscape .title, .landscape .intro {
  color: #000;
  text-shadow: none;
  width: 100% !important; }
.landscape .cover .default-image {
  background-position: 20px center !important;
  background-size: 100% auto !important;
  width: calc(100% - 486px);
  position: absolute;
  height: 100% !important;
  bottom: 0;
  top: auto; }

.mobile .header {
  display: none; }
.mobile .cover {
  width: 100% !important; }
  .mobile .cover .banner {
    padding: 30px 15px 12px 15px;
    text-align: center;
    min-height: 90px;
    height: auto; }
    .mobile .cover .banner .logo {
      font-size: 40px;
      font-weight: 100;
      line-height: 30px;
      display: block;
      border: 0;
      width: 100%;
      padding: 0;
      margin-bottom: 10px; }
    .mobile .cover .banner .subtitle {
      padding: 0;
      width: 230px;
      font-size: 0.71em;
      line-height: 120%; }
.mobile .default-image {
  background-image: none !important;
  height: auto !important; }
.mobile .gradient {
  height: 50px; }
.mobile .head-info {
  padding: 15px; }
  .mobile .head-info .title {
    font-size: 1.93em;
    line-height: 100%;
    margin: 0; }
  .mobile .head-info .intro {
    font-size: 0.86em;
    letter-spacing: normal;
    margin: 2px 0 0 0; }
  .mobile .head-info .author {
    margin: 8px 0 0 0;
    font-size: 0.643em;
    line-height: 166.67%;
    min-height: 15px;
    letter-spacing: 0;
    box-sizing: border-box; }
.mobile .content-body > p.done-dot:after {
  border-left: 3px solid #8dc63f !important;
  border-right: 3px solid #8dc63f !important; }
.mobile .content-body > p.pullQuote {
  font-weight: bold !important;
  font-style: normal;
  text-transform: uppercase !important;
  padding: 10px; }
  .mobile .content-body > p.pullQuote b {
    font-weight: bold; }
.mobile .content-body p.pullQuote:before {
  top: 10px;
  left: -1px;
  height: calc(100% - 20px); }
.mobile .content-body p.pullQuote:after {
  content: '';
  top: -1px;
  left: 10px;
  width: calc(100% - 20px); }

.mode-1 .head-info {
  background-color: #000; }
.mode-1 .head-info .title,
.mode-1 .banner .subtitle {
  color: #fff; }
.mode-1 .content-body p.pullQuote {
  border: 1px solid white; }
.mode-1 .content-body p.pullQuote:before, .mode-1 .content-body p.pullQuote:after {
  border: 1px solid black; }

.ios-9.completed .content-area .content-body .dropcap {
  display: inline-block; }

/*# sourceMappingURL=workingmac.css.map */
