<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body id="story" class="body_text_size">
	<div id="t1" class="article wrapper page story column am_page portrait">
		<article>
			<div class="cover_img defaultimage">
				<figure class="mainImg am_df_image" data-orientation="true">              	
				</figure>
				<span class="icon_gallery am_gallery"></span>
				<span class="icon_info"></span>
				<figcaption class="am_df_image_caption caption"></figcaption>
			</div>
			<header>
				<div class="strap_line am_strap_line strap"></div>
				<div class="author"><span class="am_author author_name name"></span></div>
				<div class="clearfix"></div>
				<h2 class="title story_heading_size"><span class="am_title"></span></h2>
				<div class="intro_size"><div class="intro am_intro"></div></div>
			</header>
			<div class="content_body am_body">				
			</div>
		</article>
		<div class="arrow_down"></div>
	</div>
</body>
</html>
