<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../stylesheets/base.css">
<link rel="stylesheet" href="../stylesheets/font.css">
<link rel="stylesheet" href="../stylesheets/color.css">
<link rel="stylesheet" href="../stylesheets/content.css">
<link rel="stylesheet" href="../stylesheets/portrait.css">
<script src="../javascripts/common.js"></script>
<script src="../javascripts/story.js"></script>
<script src="../javascripts/script.js"></script>


</head>
<body id="story" class="portrait body_text_size">
</body>
</html>
