body {
  padding-top: 38px; }

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 38px;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 0 50px; }

.header span {
  position: absolute;
  left: 50px;
  top: 0;
  height: 100%;
  padding: 0 2px;
  font-family: 'TungstenNarrow';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  letter-spacing: 0.07em;
  text-transform: uppercase; }

.head-info {
  float: right;
  width: calc(100% - 140px);
  border-bottom: 2px solid black; }

.head-info .intro {
  font-family: 'Geogrotesque';
  font-size: 1.067em;
  line-height: 1.25;
  letter-spacing: 0;
  margin-top: 16px; }

.head-info .byline {
  position: absolute;
  top: 85px;
  left: 0;
  width: 147px;
  padding: 15px 44px;
  margin: 0;
  font-family: 'TungstenNarrow';
  font-weight: 600;
  font-size: 1.47em;
  letter-spacing: 0.07em;
  line-height: 91%;
  text-transform: uppercase; }

.container {
  position: relative; }

.head-info .sub_title {
  color: #ef3b24; }

.head-info .title {
  font-family: 'AImpacto';
  font-size: 1.4em;
  line-height: 1.14;
  letter-spacing: 0;
  color: #000;
  margin: 15px 0;
  text-align: right; }

.content-area {
  padding: 15px 50px 40px 50px; }

.right_content {
  padding-top: 35px;
  padding-bottom: 40px;
  clear: both; }

.right_content > p:not(.pullQuote) {
  font-family: 'Geogrotesque';
  font-weight: 500; }

.right_content > .image:nth-of-type(1) {
  width: 147px;
  height: 70px;
  position: absolute;
  top: 15px;
  left: 0;
  overflow: hidden; }
  .right_content > .image:nth-of-type(1) + p {
    margin-top: 0; }

figcaption p {
  color: #ee3823; }

.image figcaption .credit {
  display: none; }

table.renderedtable {
  border-top: 2px solid #414042;
  margin-top: 85px; }
  table.renderedtable td {
    padding: 25px 0 0 0; }
  table.renderedtable p:nth-last-of-type(1) {
    font-family: 'Geogrotesque';
    font-size: 1.067em;
    line-height: 1.143;
    letter-spacing: 0.008em; }
    table.renderedtable p:nth-last-of-type(1) b:nth-of-type(1) {
      text-transform: uppercase;
      color: #ee3823; }
  table.renderedtable p:nth-last-of-type(2) {
    font-family: 'Geogrotesque';
    font-size: 0.8em;
    line-height: 1.167;
    letter-spacing: 0.008em;
    margin-bottom: 20px; }

.mobile {
  padding-top: 25px; }
  .mobile .header {
    padding: 0 25px;
    height: 24px; }
    .mobile .header span {
      left: 25px;
      font-size: 16px;
      line-height: 1.51; }
  .mobile .head-info {
    float: none;
    width: 100%;
    border-bottom: 2px solid #aaaaaa; }
    .mobile .head-info .default-image {
      width: calc(100% + 50px);
      margin-left: -25px; }
    .mobile .head-info .title {
      font-size: 2.07em;
      line-height: 1.05;
      text-align: left; }
    .mobile .head-info .byline {
      top: 10px;
      left: 118px;
      width: 62px;
      padding: 0 8px;
      font-size: 1.07em;
      line-height: 0.875;
      display: table;
      height: 58px; }
      .mobile .head-info .byline span {
        display: table-cell;
        vertical-align: bottom; }
  .mobile .content-area {
    padding: 97px 25px 25px 25px; }
  .mobile .right_content {
    padding-top: 20px;
    padding-bottom: 25px; }
  .mobile .right_content > .image:nth-of-type(1) {
    top: 10px;
    width: 118px;
    height: 57px; }

/*# sourceMappingURL=column.css.map */
