* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* Disable selection/copy in UIWebView */
  user-select: none; }

.spanned span {
  display: inline-block;
  white-space: pre-wrap; }
.spanned .white-space {
  display: block; }

body {
  font-family: 'Roboto', Arial;
  font-size: 15px;
  line-height: 146%;
  color: #1e1e1e;
  overflow-x: auto;
  overflow-y: hidden; }

.header {
  padding: 32px 0 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff; }
  .header .wrapper {
    height: 35px;
    line-height: 35px;
    margin: 0 36px 14px 36px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    position: relative; }
  .header .caption {
    font-weight: 500;
    color: #9d9c9c;
    font-size: 15px; }
    .header .caption span {
      color: #1e1e1e; }
  .header .icon-camera {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 21px;
    background: white url("../images/icon_camera.png") no-repeat center center;
    display: block;
    position: absolute;
    right: -2px;
    bottom: -13px; }

.container {
  position: relative; }

.head-info {
  position: absolute;
  top: 82px;
  left: 0;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1px;
  background: #fff; }
  .head-info .inner {
    border-bottom: 1px solid #d6d6d6;
    padding: 0 0 10px 0;
    margin: 0 36px; }
  .head-info h2, .head-info p {
    margin: 0; }
  .head-info .title {
    font-weight: 900;
    font-size: 1.867em;
    line-height: 118%;
    font-family: 'Roboto Slab', Arial;
    font-weight: bold; }
  .head-info .subtitle {
    font-family: 'Roboto Slab', Arial;
    font-weight: 300;
    font-size: 1.47em;
    line-height: 132%; }
  .head-info .author {
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.8em;
    color: #2a2a2a;
    line-height: 141.7%; }

.default-image {
  position: absolute;
  display: block;
  top: 150px;
  left: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  z-index: 999999; }
  .default-image.hide {
    z-index: -1;
    visibility: hidden; }
  .default-image.masked figcaption {
    padding: 13px 0; }
    .default-image.masked figcaption:before {
      display: block;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 7px solid #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      top: -7px;
      left: 28px; }
  .default-image.masked:before {
    /*display: block;
    content: '';
    position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.05) 67%, rgba(0, 0, 0, 0.48) 83%, rgba(0, 0, 0, 0.89) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(67%, rgba(0, 0, 0, 0.05)), color-stop(83%, rgba(0, 0, 0, 0.48)), color-stop(100%, rgba(0, 0, 0, 0.89)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.05) 67%, rgba(0, 0, 0, 0.48) 83%, rgba(0, 0, 0, 0.89) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.05) 67%, rgba(0, 0, 0, 0.48) 83%, rgba(0, 0, 0, 0.89) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.05) 67%, rgba(0, 0, 0, 0.48) 83%, rgba(0, 0, 0, 0.89) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.05) 67%, rgba(0, 0, 0, 0.48) 83%, rgba(0, 0, 0, 0.89) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e3000000',GradientType=0 );
    /* IE6-9 */ }
  .default-image figcaption {
    display: block;
    position: absolute;
    width: 100%;
    background: #fff;
    padding: 0;
    left: 0;
    bottom: 0;
    font-size: 0.93em;
    line-height: 128%;
    font-style: italic;
    color: #818181;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    text-align: left; }
    .default-image figcaption p {
      margin: 0;
      display: inline; }
    .default-image figcaption a {
      color: #fff; }
    .default-image figcaption .credit {
      color: #1e1e1e; }
  .default-image img {
    width: 100%;
    height: auto; }

.full-screen .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 36px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #fff;
  z-index: 999999; }
  .full-screen .cover .default-image {
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    background-size: cover;
    position: static; }
  .full-screen .cover .head-info {
    top: auto;
    left: 0;
    bottom: 36px;
    background: none; }
    .full-screen .cover .head-info .inner {
      border-bottom: none;
      padding: 0 0 20px 0;
      margin: 0 68px; }
    .full-screen .cover .head-info h2, .full-screen .cover .head-info p {
      margin: 0; }
    .full-screen .cover .head-info .title {
      color: #fff; }
    .full-screen .cover .head-info .subtitle {
      color: #fff; }
    .full-screen .cover .head-info .author {
      color: #fff;
      float: right;
      margin-top: -20px; }
  .full-screen .cover .header {
    padding: 0 0 6px 0;
    margin-bottom: 12px;
    border-bottom: 1px solid #91766C;
    position: static;
    background: none; }
    .full-screen .cover .header .caption {
      color: #fff;
      text-transform: uppercase; }
      .full-screen .cover .header .caption span {
        color: #fff;
        font-weight: bold; }

.content-area {
  padding: 82px 0 0 0;
  overflow: visible;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  -ms-column-gap: 0px;
  -o-column-gap: 0px;
  column-gap: 0px;
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  /* Firefox */
  column-fill: auto; }
  .content-area img {
    display: none; }
  .content-area.column img {
    display: initial; }
  .content-area .white-space {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    -webkit-column-break-before: always;
    -moz-column-break-before: always;
    -ms-column-break-before: always;
    -o-column-break-before: always;
    column-break-before: always; }
  .content-area p {
    margin: 0 0 22px 0; }
    .content-area p.intro {
      font-weight: bold; }
    .content-area p.pullQuote {
      font-weight: bold;
      font-style: italic;
      /* padding: 10px 0 0 21px; */
      padding: 0 0 0 13px;
      position: static;
      border-left: 2px solid #1E1E1E;
      /*&:before{
      	display: none;
      	content: '';
      	position: absolute;
      	width: 22px;
      	height: 19px;
      	background: url('../images/icon_quote.png') no-repeat center center;
      	top: 10px;
      	left: -13px;
      	z-index: 2;
      }*/ }
  .content-area .content-body {
    padding: 0 36px;
    /** {
    	-moz-column-break-inside:avoid;
    	-webkit-column-break-inside:avoid;
    	column-break-inside:avoid;
    }*/ }
    .content-area .content-body .no-margin-bot {
      margin-bottom: 0; }
    .content-area .content-body h1 {
      font-size: 1.46em; }
    .content-area .content-body h2 {
      font-size: 1.33em; }
    .content-area .content-body h3 {
      font-size: 1.2em; }
    .content-area .content-body h4 {
      font-size: 1.06em; }
    .content-area .content-body a {
      color: #1e1e1e;
      text-decoration: underline; }
    .content-area .content-body .image {
      display: block;
      -moz-column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      column-break-inside: avoid;
      page-break-inside: avoid;
      overflow: hidden;
      text-align: center; }
      .content-area .content-body .image.no-break {
        display: inline-block;
        width: 100%;
        -moz-column-break-inside: auto;
        -webkit-column-break-inside: auto;
        column-break-inside: auto;
        page-break-inside: auto; }
      .content-area .content-body .image + * {
        margin-top: 20px; }
    .content-area .content-body .default-image {
      position: relative;
      overflow: hidden;
      display: inline-block;
      top: -19px;
      padding: 0; }
      .content-area .content-body .default-image img {
        padding-bottom: 0; }
      .content-area .content-body .default-image figcaption {
        margin-top: 0; }
    .content-area .content-body img {
      max-width: 100%;
      width: auto;
      height: auto; }
    .content-area .content-body figcaption {
      position: static;
      padding: 13px 0 0 0;
      font-size: 0.93em;
      line-height: 128%;
      font-style: italic;
      color: #818181;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;
      margin: -23px 0 24px 0;
      background-color: #fff; }
      .content-area .content-body figcaption:before {
        display: block;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 7px solid #fff;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        top: -2px;
        left: 28px; }
      .content-area .content-body figcaption .credit {
        display: inline-block;
        width: 100%;
        color: #1e1e1e; }
      .content-area .content-body figcaption p {
        margin-bottom: 13px; }
    .content-area .content-body .white-space + figcaption {
      margin-top: -10px; }
    .content-area .content-body .eof {
      display: block;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0; }
      .content-area .content-body .eof.break {
        display: block;
        -webkit-column-break-before: always;
        -moz-column-break-before: always;
        -ms-column-break-before: always;
        -o-column-break-before: always;
        column-break-before: always; }
  .content-area .caption {
    font-weight: 900;
    font-size: 1.867em;
    line-height: 121.5%;
    padding: 0 36px;
    margin-bottom: 24px;
    position: relative;
    color: #fff; }

.footer {
  margin: 14px 0 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 999; }
  .footer .wrapper {
    height: 35px;
    line-height: 35px;
    margin: 0 36px 11px 36px;
    border-top: 1px solid #eee;
    font-size: 14px;
    text-transform: uppercase; }
  .footer.hide-content .wrapper * {
    visibility: hidden; }
  .footer .page_info {
    float: left; }
    .footer .page_info span {
      font-weight: bold; }
  .footer .pagination {
    float: right; }
    .footer .pagination a {
      display: block;
      margin-left: 32px;
      color: #1e1e1e;
      font-weight: bold;
      float: left;
      text-decoration: none; }
      .footer .pagination a.disable, .footer .pagination a:hover {
        opacity: 1; }
    .footer .pagination .go-prev {
      margin-left: 0;
      padding-left: 32px;
      background: url("../images/icon_prev.png") no-repeat left center; }
    .footer .pagination .go-next {
      padding-right: 32px;
      background: url("../images/icon_next.png") no-repeat right center; }
    .footer .pagination .go-prev, .footer .pagination .go-next {
      opacity: .3; }
      .footer .pagination .go-prev:hover, .footer .pagination .go-next:hover {
        opacity: .3; }
      .footer .pagination .go-prev.active, .footer .pagination .go-next.active {
        opacity: 1; }
        .footer .pagination .go-prev.active:hover, .footer .pagination .go-next.active:hover {
          opacity: 1; }

.mode-1 .header, .mode-1 .footer, .mode-1 .head-info {
  background: none; }
  .mode-1 .header a, .mode-1 .footer a, .mode-1 .head-info a {
    color: #fff; }
.mode-1 .header .caption span {
  color: #fff; }
.mode-1 .head-info .author {
  color: #fff; }
.mode-1 .content-body a {
  color: #fff; }
.mode-1 .content-area p.pullQuote:before {
  background-image: url("../images/icon_quote_w.png"); }
.mode-1 .content-area .content-body figcaption {
  background: none;
  color: #ddd; }
  .mode-1 .content-area .content-body figcaption:before {
    border-bottom-color: #000; }
  .mode-1 .content-area .content-body figcaption .credit {
    color: #eee; }
.mode-1 .full-screen .cover {
  background-color: #000; }
.mode-1 .default-image figcaption {
  background: #000;
  border-bottom-color: #5c5c5c; }
  .mode-1 .default-image figcaption:before {
    border-bottom-color: #000; }
  .mode-1 .default-image figcaption .credit {
    color: #5c5c5c; }
.mode-1 .feature-mask {
  background: rgba(0, 0, 0, 0.3);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.7+20,1+100 */
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 20%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(20%, rgba(0, 0, 0, 0.7)), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 20%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 20%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 20%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 20%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

#t1 {
  overflow: hidden; }

.feature-mask {
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.3);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.7+20,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 20%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.7)), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 20%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 20%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 20%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 20%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.completed .spanned span {
  display: initial;
  white-space: initial; }
.completed .spanned .white-space {
  display: block; }
.completed .content-area p.pullQuote {
  position: relative; }
  .completed .content-area p.pullQuote:before {
    display: block; }
.completed .content-area figcaption {
  position: relative; }

.mobile {
  overflow: auto;
  font-size: 14px; }
  .mobile.text-size-1 {
    font-size: 17px;
    line-height: 24px; }
  .mobile.text-size-2 {
    font-size: 20px;
    line-height: 28px; }
  .mobile .header {
    padding: 11px 0 0 0;
    position: relative; }
    .mobile .header .wrapper {
      min-height: 27px;
      height: auto;
      line-height: 17px;
      margin: 0 0 15px 0;
      padding: 0 20px; }
    .mobile .header .caption {
      font-size: 12px;
      padding: 5px 30px 0 0; }
    .mobile .header .icon-camera {
      right: 7px;
      bottom: -12px; }
  .mobile .head-info {
    position: relative;
    top: 0; }
    .mobile .head-info .inner {
      margin: 0 20px 10px; }
    .mobile .head-info .title {
      font-size: 1.286em;
      line-height: 122%; }
    .mobile .head-info .subtitle {
      font-size: 1em;
      line-height: 128.6%; }
    .mobile .head-info .author {
      font-size: 0.714em; }
  .mobile .default-image {
    position: relative;
    top: 0; }
    .mobile .default-image:before {
      display: none; }
    .mobile .default-image figcaption {
      position: relative;
      margin: 0 20px;
      padding: 10px 0;
      font-size: 12px;
      max-height: none;
      overflow: visible;
      border-bottom: 1px solid #EEE;
      width: auto; }
    .mobile .default-image img {
      width: auto;
      max-width: 100%; }
  .mobile .content-area {
    padding: 10px 0 0 0; }
    .mobile .content-area img {
      display: initial; }
    .mobile .content-area p {
      margin: 0 0 20px 0; }
    .mobile .content-area .content-body {
      padding: 0 20px; }
      .mobile .content-area .content-body .default-image {
        top: 0; }
    .mobile .content-area .caption {
      font-size: 18px;
      line-height: 24px;
      padding: 0 20px;
      margin-bottom: 20px; }
  .mobile .footer {
    display: none; }
