html, body{
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    min-width: 300px;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.portrait, .landscape{
    height: 100%;
    max-height: 100%;    
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.container{
    min-height: 100%;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('../images/header_squirrel.png');
    width: 100%;
    height: 27px;
    margin: 0;
    border-bottom: 3px solid black;
}
.header span{
    position: absolute;
    left: 12px;
    top: 0;
    height: 100%;
    padding: 0 2px;
    background: white;
    color: #000;
    font-family: 'SourceSansPro';
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}
.content-area{
    padding-top: 27px;
}
.right_content .image, .default-image{
    text-align: center;
}
.right_content .image img, .default-image img{
    max-width: 100%;
    height: auto;
}
.right_content > .image{
    margin: 6px -15px;
}

.right_content >  p:not(.pullQuote){
    font-size: 1.081em;
    line-height: 153.33%;
    margin: 0 0 24px 0;
}
.right_content p.pullQuote{
    font-family: Georgia, sans-serif;
    margin: 0 0 15px 0;
}
.right_content > p:not(.pullQuote) + p.pullQuote{
    margin-top: -18px;
}
.right_content > p:not(.pullQuote) + .image {
    margin-top: -18px;
}
.right_content > p:not(.pullQuote) + div > table[bgcolor="#eeeeee"]:before{
    margin-top: 0;
}
.right_content .image + .image{
    margin-top: 10px;
}
.right_content .image + table{
    margin-top: 20px;
}
.right_content > h3 + p.pullQuote{
    margin-top: 9px;
}
.right_content > h3{
    font-family: 'SourceSansPro';
    font-size: 1.081em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 22px 0 0 0;
}
p.dropcap:first-letter{
    font-size: 3.4em;
    font-family: 'SourceSansPro';
    font-weight: bold;
    float: left;
    display: inline-block;
    text-align: left;
    line-height: 51%;
    margin: 8px 5px 0 0;
}
.right_content table{
    width: 100%;
}
.right_content table .image{
    margin: 10px auto;
}

.footer{
    font-size: 0.6em;
    font-family: 'SourceSansPro';
    font-weight: bold;
    text-transform: uppercase;
    border-top: 3px solid black;
    margin: 0 15px;
    padding: 5px 0;
}
.footer p {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
}
.footer .issue-name:before{
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: #929292;
    float: left;
    margin-right: 3px;
    margin-top: 0;
}
.footer p span{
    color: #fe0000;
}

.default-image figcaption{
    text-align: left;
    display: block !important;
    text-align: left !important;
    font-family: 'SourceSansPro';
    font-size: 0.855em;
    font-style: italic;
    line-height: 139.98%;
    padding: 10px 0 11px 0;
    margin: 0 15px;
    color: #636363;
    border-bottom: 1px solid black;
}
.default-image figcaption p {
    margin: 0;
    display: inline;
}
.right_content .image figcaption{
    display: block !important;
    text-align: left !important;
    font-family: 'SourceSansPro';
    font-size: 0.855em;
    font-style: italic;
    line-height: 139.98%;
    margin: 0 15px;
    padding: 10px 0 11px 0;
    color: #636363;
    border-bottom: 1px solid black;
}
.right_content .image figcaption p{
    margin: 0;
    display: inline;
}
figcaption .credit{
    color: #000;
}
.text-size-1 p.dropcap:first-letter{
    margin: 11px 5px 0 0;
}
.text-size-2 p.dropcap:first-letter{
    margin: 12px 5px 0 0;
}
.mode-1 .header {
    background-color: #000;
}
.mode-1 .footer > p,
.mode-1 .right_content > p {
    border-color: white !important;
}
.mode-1 .footer{
    border-top: 3px solid #fff;
}
.mode-1 .byline span b{
    color: #fff;
}