.header{
	border-bottom: 3px solid #748a96;
}
.default-image{
    margin: 23px 0 7px 0;
}
.head-info{
    margin: 0 15px;
    padding: 0 0 10px 0;
    text-align: center;
}
.head-info:before, .head-info:after{
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px solid #929292;
    border-top: 1px solid #929292;
}
.title{
    margin: 7px 0 9px 0;
    font-family: 'AlternateGotNo3D';
    font-size: 2.224em;
    line-height: 102.3%;
}
.byline{
    margin: 0 0 10px 0;
    font-family: 'SourceSansPro';    
    font-weight: normal;
    text-transform: capitalize;
    font-size: 0.8em;
    line-height: normal;
    letter-spacing: 0.025em;
}
.right_content{
    margin: 12px 15px 30px 15px;
}
.right_content > p:not(.pullQuote)  {
    line-height: 120.22%;
    font-family: 'SourceSansPro';    
    font-weight: normal;
    margin: 0 0 7px 0;
}
.right_content > p:not(.dropcap):not(.pullQuote) > b:nth-of-type(1){
    font-family: 'SourceSansPro';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 123.3%;
    letter-spacing: 0.025em;
}
.right_content p.pullQuote{
    padding: 9px 0 10px 0;
    font-size: 0.855em;
    line-height: 139.98%;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.right_content .image figcaption{
    display: block !important;
    text-align: left !important;
    font-family: 'SourceSansPro';
    font-size: 0.855em;
    font-style: italic;
    line-height: 139.98%;
    margin: 0 15px;
    padding: 10px 0 11px 0;
    color: #636363;
    border-bottom: 1px solid black;
}
.right_content .image figcaption p{
    margin: 0;
}
.right_content .image figcaption .credit{
    display: none;
}
.right_content > h3{
    font-family: 'SourceSansPro';
    font-size: 1.249em;
    line-height: 173.9%;
    font-weight: bold;
    color: #748a96;
    text-transform: uppercase;
    margin: 37px 0 0 0;
    letter-spacing: 0.025em;
}
.right_content > p:not(.pullQuote) + p.pullQuote,
.right_content > p:not(.pullQuote) + .image {
    margin-top: 0;
}
