.header{
    border-bottom: 3px solid #06ca06;
}
.wrapper{
    margin: 24px 15px 20px 15px;
    display: table;
}
.default-image{
    margin: 0 0 7px 0;
    padding: 0 10px 0 0;
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
}
.default-image figcaption{
    margin: 0;
}
.head-info{
    margin: 0;
    text-align: left;
    display: table-cell;
    width: 50%;
    vertical-align: top
}
.title{
    margin: -2px 0 1px 0;
    font-family: 'AlternateGotNo3D';
    font-size: 2.224em;
    line-height: 102.3%;
}
.byline{
    margin: 0;
    font-family: 'SourceSansPro';    
    font-weight: normal;
    color: #06ca06;
    text-transform: capitalize;
    font-size: 0.8em;
    line-height: normal;
    letter-spacing: 0.025em;
    border-bottom: 11px solid #06ca06;
    padding-bottom: 5px;
}
.byline span b {
    color: #000;
}
.right_content{
    margin: 10px 15px 0 15px;
}
.right_content > p:not(.dropcap):not(.pullQuote) > b:nth-last-of-type(1){
    font-family: Georgia, sans-serif;
    font-weight: normal;
    font-style: italic;
    display: block;
}
.right_content > p:not(.dropcap):not(.pullQuote) > b:nth-last-of-type(1):after{
    background-image: url(../images/line_dot.png);
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-size: 8px 4px;
    margin-top: 22px;
}
.right_content > p:not(.dropcap):not(.pullQuote):nth-last-of-type(1) > b:nth-last-of-type(1):after{
    display: none;
}
.right_content p.pullQuote{
    padding: 9px 0 10px 0;
    font-size: 0.855em;
    line-height: 139.98%;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.right_content .image{
    margin: 6px 0;
}
.right_content .image figcaption{
    display: block !important;
    text-align: left !important;
    font-family: 'SourceSansPro';
    font-size: 0.855em;
    font-style: italic;
    line-height: 139.98%;
    margin: 0 15px;
    padding: 10px 0 11px 0;
    color: #636363;
    border-bottom: 1px solid black;
}
.right_content .image figcaption p{
    margin: 0;
}
.right_content .image figcaption .credit{
    display: none;
}
.right_content > h3, .right_content > h4{
    font-size: 1.081em;
    line-height: 153.33%;
    letter-spacing: 0.025em;
    font-family: 'SourceSansPro';
    text-transform: uppercase;
}
.right_content > h3{
    color: #7c7c7c;
}
.right_content > h4{
    color: #06ca06;
}
.right_content > h4 i{
    color: #000;
}
.right_content p a{
    font-family: 'SourceSansPro';
    font-weight: bold;
    font-style: italic;
    color: #00aeef;
}
table.renderedtable td{
    padding: 0 0 5px 0;
    text-align: center;
    padding-bottom: 5px;
}
table.renderedtable td:after{
    content: '';
    display: inline-block;
    height: 1px;
    width: 55%;
    height: 1px;
    border-bottom: 1px solid #929292;
    border-top: 1px solid #929292;
    margin: 0;
}
table.renderedtable td p {
    font-size: 1.081em;
    line-height: 153.33%;
    text-align: left;
}
table.renderedtable td p b:nth-last-of-type(1){
    font-family: 'SourceSansPro';
    font-weight: normal;
    font-style: italic;
    display: block;
}
table.renderedtable td p:nth-last-of-type(1){
    margin: 0;
}
.mode-1 .byline span b{
    color: #fff;
}
/*.landscape .default-image,
.landscape .head-info{
    width: auto;
}*/