<?xml version="1.0" encoding="ISO-8859-1"?>
<designpack id="am-dp1">
	<name>Default design pack</name>
	<designer>Kevin</designer>
	<created-date>10 December 2016</created-date>
	<story>
		<landscape>
			<layout type="story" orientation="landscape" id="am-landscape-1">
				<name>Default</name>
				<link>default_layout_landscape.twig</link>
				<related>am-portrait-1</related>
				<thumbnail>default-l.jpg</thumbnail>
				<rules>
					<headline>true</headline>
					<deck>false</deck>
					<content>true</content>
					<images total="1" define="false" df-size="768x0" df-title="false" df-author="false" df-desc="false">
					</images>
				</rules>
			</layout>
			<layout type="story" orientation="landscape" id="am-landscape-2">
				<name>Fullscreen</name>
				<link>t1-l.twig</link>
				<related>am-portrait-2</related>
				<thumbnail>t1-l.jpg</thumbnail>
				<rules>
					<headline>true</headline>
					<deck>false</deck>
					<content>true</content>
					<images total="1" define="false" df-size="768x0" df-title="false" df-author="false" df-desc="false">
					</images>
				</rules>
			</layout>
		</landscape>
		<portrait>
			<layout type="story" orientation="portrait" id="am-portrait-1">
				<name>Default</name>
				<link>default_layout_portrait.twig</link>
				<related>am-landscape-1</related>
				<thumbnail>default.jpg</thumbnail>
				<rules>
					<headline>true</headline>
					<deck>false</deck>
					<content>true</content>
					<images total="1" define="false" df-size="768x0" df-title="false" df-author="false" df-desc="false">
					</images>
				</rules>
			</layout>
			<layout type="story" orientation="portrait" id="am-portrait-2">
				<name>Fullscreen</name>
				<link>t1.twig</link>
				<related>am-landscape-2</related>
				<thumbnail>t1.jpg</thumbnail>
				<rules>
					<headline>true</headline>
					<deck>false</deck>
					<content>true</content>
					<images total="1" define="false" df-size="768x0" df-title="false" df-author="false" df-desc="false">
					</images>
				</rules>
			</layout>
		</portrait>
	</story>
	<section>
		<landscape>
			<layout></layout>
		</landscape>
		<portrait>
			<layout></layout>
		</portrait>
		<color>
			<item>009bee</item>
			<item>c20a1f</item>
			<item>01b2b8</item>
			<item>ffa700</item>
			<item>7accb6</item>
			<item>333192</item>
			<item>ee2375</item>
		</color>
	</section>
</designpack>